
@{
    ViewData["Title"] = "Infrastruktur";
    Layout = "_AdminLayout";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<h1 class="display-4 pb-5 pt-5">Infrastruktur</h1>
@model Sopro.ViewModels.InfrastructureViewModel

<div class="flex-column">
    @{ int i = 0;}
    @foreach (Sopro.Models.Infrastructure.Location l in Model.locations)
    {
        string colla = string.Concat("collapsible", i.ToString());
        string collaEdit = string.Concat(colla, "Edit");
        i++;
        <div name="panel ">
            <div class="d-flex rounded shadow mt-4 pl-2 py-1">
                <h5 class="ml-2 mr-5 mt-1">@l.name</h5>
                <img src="~/bootstrap-icons/pencil-square.svg" width="23" class="ml-auto mr-2" data-toggle="collapse" data-target="#@collaEdit " aria-expanded="false" aria-controls="t2" />
                <a asp-controller="Infrastructure" asp-action="DeleteLocation" asp-route-id="@l.id">
                    <img src="~/bootstrap-icons/trash.svg" width="23" class="mr-4" />
                </a>
                <img src="~/bootstrap-icons/caret-down-fill.svg" data-toggle="collapse" data-target="#@colla " aria-expanded="false" aria-controls="t2" width="23" class="mr-2 ml-2 filter-blue float-right" />
            </div>
            <div id="@collaEdit" class="collapse rounded border p-3 ml-4 flex-column">
                <form asp-controller="Infrastructure" asp-action="EditLocation" asp-route-id="@l.id">

                    <div class="form-group">
                        <label for="@Model.name">Der Name des Standorts</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="@l.name" asp-for="@Model.name" />
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="@Model.emergency">Notreserve</label>
                        <div class="input-group">
                            <input class="form-control" type="number" placeholder="@l.emergency" asp-for="@Model.emergency" max="1" min="0" step="0.001" />
                        </div>
                    </div>
                    <div class="form-group input-append date form_datetime">
                        <label for="@Model.distributionTime">Verteilzeitpunkt MEZ</label>
                        <input type="time" class="form-control" placeholder="@l.normalizedDistributionTime.Hour:@l.normalizedDistributionTime.Minute" asp-for="@Model.distributionTime" />
                    </div>
                    <div class="flex-row">
                        <button type="submit" class="btn btn-primary btn-mhp ml-auto mt-3">Übernehmen</button>
                    </div>

                </form>
            </div>
            <div id="@colla" class="collapse ml-4">
                <div class="flex-column rounded border p-3">
                    @foreach (Sopro.Models.Infrastructure.Zone z in l.zones)
                    {

                        <div class="card mt-3 mb-1">
                            <div class="card-header">
                                <div class="d-flex">
                                    <h4><b>Zone @z.site</b></h4>
                                    <div class="ml-auto">
                                        <form methode="post" asp-controller="Infrastructure" asp-action="EditZone" asp-route-id="@l.id" asp-route-site="@z.site">
                                            <button class="btn btn-link"><img src="~/bootstrap-icons/pencil-square.svg" width="20" /></button>
                                        </form>
                                    </div>
                                    <div class="ml-2">
                                        <form methode="post" asp-controller="Infrastructure" asp-action="DeleteZone" asp-route-id="@l.id" asp-route-site="@z.site">
                                            <button class="btn btn-link"><img src="~/bootstrap-icons/trash.svg" width="20" /></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex">
                                @foreach (Sopro.Models.Infrastructure.Station s in z.stations)
                                {
                                    <div class="card-body d-inline-flex flex-wrap">
                                        <div class="flex-column border rounded ml-1 mr-2 my-2 py-3 px-2">
                                            <h4 class="text-sm-center">Station 1</h4>
                                            <hr />
                                            <div class="d-inline-flex">
                                                <div class="flex-column">
                                                    <div>CCS</div>
                                                    <div class="mb-3">Type-2-plugs</div>
                                                    <div class="mb-3">Gleichzeitig nutzbar</div>
                                                    <div>Leistung</div>
                                                </div>
                                                <div class="flex-column ml-4">
                                                    @{ int ccs = 0;
                                                        int type2 = 0;
                                                    }
                                                    @foreach (Sopro.Models.Infrastructure.Plug p in s.plugs)
                                                    {
                                                        if (p.type.Equals(Sopro.Models.Infrastructure.PlugType.CCS))
                                                        {
                                                            ccs++;
                                                        }
                                                        else
                                                        {
                                                            type2++;
                                                        }
                                                    }
                                                    <div>@ccs</div>
                                                    <div class="mb-3">@type2</div>
                                                    <div class="mb-3">@s.maxParallelUseable</div>
                                                    <div>@s.maxPower kW</div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                }
                            </div>
                        </div>
                    }

                    <form asp-action="CreateZone" asp-controller="Infrastructure" asp-route-id="@l.id">
                        <button class="btn btn-primary btn-block mt-3 btn-mhp">Neue Zone</button>
                    </form>
                </div>
            </div>
        </div>
    }

</div>

<div class="d-flex mt-4">
    <div>
        <form asp-controller="Booking" asp-action="" class="form-horizontal" method="post" enctype="multipart/form-data">
            <button type="submit" class="btn btn-primary col-xs-12 btn-mhp">Import</button>
        </form>
    </div>
    <div>
        <input class="btn btn-secondary ml-2" type="button" name="exportBooking" value="Export" />
    </div>
    <div class="ml-auto">
        <form asp-controller="Infrastructure" asp-action="newLocation">
            <button class="btn btn-primary btn-mhp">Neuer Standort</button>
        </form>
    </div>
</div>

