
@{
    ViewData["Title"] = "Auswertung";
    Layout = "_AdminLayout";
}

<h1 class="display-4 mb-5 pt-5">Auswertung</h1>
<div class=" = d-inline-flex flex-wrap">
    <div class="flex-column  p-3">
        <div class="d-flex mb-2">
            <div class="mr-4"><b>Anzahl der Buchungen</b> </div>
            <div>100</div>
        </div>
        <div class="d-flex mb-2">
            <div class="mr-4"><b>Davon erfolgreich</b> </div>
            <div>90</div>
        </div>
        <div class="d-flex mb-2">
            <div class="mr-4"><b>Durchgeführt am</b> </div>
            <div> 09.06.2020 12:30</div>
        </div>
        <div class="d-flex">
            <div class="mr-5"><b>Stoßzeit 1 </b></div>
            <div class="ml-4">09.06.2020 9:00</div>
        </div>
        <div class="d-flex">
            <div class="mr-5"><b>Stoßzeit 2 </b></div>
            <div class="ml-4">09.06.2020 13:00</div>
        </div>
        <div class="d-flex">
            <div class="mr-5"> <b>Stoßzeit 3</b></div>
            <div class="ml-4">09.06.2020 19:00</div>
        </div>
        <div class="d-inline-flex mb-2">
            <div class="mr-5 mt-2 text-nowrap"> <b>Bsp Location 1</b></div>
        </div>
        <div class="flex-column  mt-2">
            <div class="d-flex mb-4 mt-3">
                <div class="mr-2"><b>Ladezone A</b></div>
                <div class="mr-2">Ladestationen: 2</div>
            </div>
            <div>
                <table class="table table-striped table-borderless table-hover text-nowrap">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            @for (int i = 0; i <= 30; i++)
                            {
                                <th>@i</th>
                            }
                        </tr>
                    </thead>
                    <tr>
                        <td>Ladezone A</td>
                        @for (int i = 0; i <= 30; i++)
                        {
                            <td>@i</td>
                        }
                    </tr>
                    <tr>
                        <td>Ladestation 1</td>
                        @for (int i = 0; i <= 30; i++)
                        {
                            <td>@i</td>
                        }
                    </tr>
                    <tr>
                        <td>Ladestation 2</td>
                        @for (int i = 0; i <= 30; i++)
                        {
                            <td>@i</td>
                        }
                    </tr>
                </table>

            </div>
            <div class="d-flex mb-4 mt-5">
                <div class="mr-2"><b>Ladezone B</b></div>
                <div class="mr-2">Ladestationen: 2</div>
            </div>
            <div>
                <table class="table table-striped table-borderless table-hover text-nowrap">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            @for (int i = 0; i <= 30; i++)
                            {
                                <th>@i</th>
                            }
                        </tr>
                    </thead>
                    <tr>
                        <td>Ladezone B</td>
                        @for (int i = 0; i <= 30; i++)
                        {
                            <td>@i</td>
                        }
                    </tr>
                    <tr>
                        <td>Ladestation 1</td>
                        @for (int i = 0; i <= 30; i++)
                        {
                            <td>@i</td>
                        }
                    </tr>
                    <tr>
                        <td>Ladestation 2</td>
                        @for (int i = 0; i <= 30; i++)
                        {
                            <td>@i</td>
                        }
                    </tr>
                </table>

            </div>
            <div class="d-flex mb-4 mt-5">
                <div class="mr-2"><b>Ladezone C</b> </div>
                <div class="mr-2">Ladestationen: 2</div>
            </div>
            <div>
                <table class="table table-striped table-borderless table-hover text-nowrap">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            @for (int i = 0; i <= 30; i++)
                            {
                                <th>@i</th>
                            }
                        </tr>
                    </thead>
                    <tr>
                        <td>Ladezone C</td>
                        @for (int i = 0; i <= 30; i++)
                        {
                            <td>@i</td>
                        }
                    </tr>
                    <tr>
                        <td>Ladestation 1</td>
                        @for (int i = 0; i <= 30; i++)
                        {
                            <td>@i</td>
                        }
                    </tr>
                    <tr>
                        <td>Ladestation 2</td>
                        @for (int i = 0; i <= 30; i++)
                        {
                            <td>@i</td>
                        }
                    </tr>
                </table>

            </div>
        </div>
    </div>

</div>
