@model IEnumerable<WebApplication1.Models.Booking>
@{
    ViewData["Title"] = "Booking";
}


<h1>Bookings</h1>
<div class="bm-3">
    <form asp-controller="Data" asp-action="import" method="post" enctype="multipart/form-data">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="file" name="file" accept=".json">
            <label class="custom-file-label" for="customFile">import file</label>
        </div>
        <button class="btn btn-primary float-right" type="submit">submit imported file</button>
    </form>
</div>

<div>
    <p style="display:inline">Übersicht aller Buchugen:</p>
    <button class="btn btn-primary float-right" onclick="location.href='@Url.Action("Create", "Booking")'">Neue Buchung anlegen</button>

</div>
<br />
@if (Model == null)
{
    <p>Noch keine Buchungen vorhanden!</p>
}
else
{
    <button class="btn btn-primary float-left" onclick="location.href='@Url.Action("export", "Data")'">Export</button>
    <table class="table table-striped table-hover table-borderless ">
        <tr>
            <th>Current charge </th>
            <th>distance</th>
            <th>Begin</th>
            <th>End</th>
            <th>Connector Type</th>
        </tr>

        @foreach (var b in Model)
        {
            <tr>
                <td>@b.current_Charge</td>
                <td>@b.required_Distance</td>
                <td>@b.start_Time</td>
                <td>@b.end_Time</td>
                <td>@b.connectorType</td>
            </tr>
        }
    </table>
}
