
@{
    ViewData["Title"] = "Buchung bearbeiten";
}
@model Sopro.ViewModels.BookingCreateViewModel
@using Microsoft.AspNetCore.Http

<h1 class="display-4">Buchungsanfrage anlegen</h1>
<form asp-controller="Booking" asp-action="Edit" asp-route-id="@Model.booking.id" method="post">
    <div>
        <div class="form-group">
            <label>Firmenstandort wählen</label>
            <select class="form-control" asp-for="@Model.locationId">
                @foreach (Sopro.Models.Infrastructure.Location location in Model.locations)
                {
                    if (location == Model.booking.location)
                    {
                        <option value="@location.id" selected="selected">@location.name </option>
                    }
                    else if (location.zones.Any())
                    {
                        <option value="@location.id">@location.name </option>
                    }

                }
            </select>

            <small></small>
            @Html.ValidationMessageFor(model => model.locationId)
        </div>

        <div class="form-group">
            <label>Steckertyp des Fahrzeugs</label>
            <div class="flex-column pl-4">
                <div>
                    <label for="@Model.ccs">CCS-Stecker</label>
                    <input type="checkbox" asp-for="@Model.ccs" checked="@Model.ccs" />
                </div>
                <div>
                    <label for="@Model.type2">Typ-2-Stecker</label>
                    <input type="checkbox" asp-for="@Model.type2" checked="@Model.type2" />
                </div>
            </div>
            <small>Wähle die / den kompatiblen Stecker.</small>
            @Html.ValidationMessageFor(model => model.ccs)
        </div>

        <div class="form-group">
            <label for="@Model.booking.socStart">Ladestand des Fahrzeugs</label>
            <div class="input-group">
                <input class="form-control" placeholder="@Model.booking.socStart" asp-for="@Model.booking.socStart" type="number" min="0" max="100" />
                <div class="input-group-append">
                    <span class="input-group-text"> % </span>
                </div>
            </div>
            <small></small>
            @Html.ValidationMessageFor(model => model.booking.socStart)
        </div>

        <div class="form-group">
            <label for="@Model.booking.socEnd">Benötigter Ladestand des Fahrzeugs</label>
            <div class="input-group">
                <input class="form-control" placeholder="@Model.booking.socEnd" asp-for="@Model.booking.socEnd" type="number" min="0" max="100" />
                <div class="input-group-append">
                    <span class="input-group-text"> % </span>
                </div>
            </div>
            <small></small>
            @Html.ValidationMessageFor(model => model.booking.socEnd)
        </div>

        <div class="form-group">
            <label for="@Model.booking.capacity">Ladekapazität</label>
            <div class="input-group">
                <input class="form-control" placeholder="@Model.booking.capacity" asp-for="@Model.booking.capacity" type="number" min="0" />
                <div class="input-group-append">
                    <span class="input-group-text"> kW </span>
                </div>
            </div>
            <small></small>
            @Html.ValidationMessageFor(model => model.booking.capacity)
        </div>

        <div class="form-group input-append date form_datetime">
            <label for="@Model.booking.startTime">Startzeit der Buchung</label>
            <input type="datetime-local" class="form-control" placeholder="@Model.booking.startTime" asp-for="@Model.booking.startTime" />
            <small></small>
            @Html.ValidationMessageFor(model => model.booking.startTime)
        </div>

        <div class="form-group input-append date form_datetime">
            <label for="@Model.booking.endTime ">Endzeit der Buchung</label>
            <input type="datetime-local" class="form-control" placeholder="@Model.booking.startTime" asp-for="@Model.booking.endTime" />
            <small></small>
            @Html.ValidationMessageFor(model => model.booking.endTime)
        </div>
        @if (Context.Session.GetString("role").Equals(Sopro.Models.User.UserType.ASSISTANCE.ToString()))
        {
            <div class="form-group">
                <label for="@Model.booking.user ">E-Mail des Gastes</label>
                <input type="email" class="form-control" placeholder="@Context.Session.GetString("email")" asp-for="@Model.booking.user" />
                <small></small>
                @Html.ValidationMessageFor(model => model.booking.user)

            </div>
            <div class="form-group">
                <label for="@Model.booking.priority">Priorität des Gastes</label>
                <select class="form-control" asp-for="@Model.booking.priority">
                    <option value="GUEST">Gast</option>
                    <option value="VIP">VIP</option>
                </select>
                @Html.ValidationMessageFor(model => model.booking.priority)
            </div>
        }
        <div class="form-group float-right mt-4 mb-5 pb-3">
            <button type="submit" class="btn btn-primary btn-mhp">Buchen</button>
        </div>
    </div>
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}