@using Aufgabe_4.Models;
@model Booking;
@{
    ViewData["Title"] = "Create";
}

<h1>Erstelle Buchung</h1>

<div>
    <form asp-controller="Booking" asp-action="Post" method="post">
        <div class="form-group">
            <label for="@Model.currentCharge">Current charge</label>
            <input type="number" class="form-control" id="@Model.currentCharge" placeholder="current charge in Percent" min="0" max="100" name="currentCharge">
        </div>
        <div class="form-group">
            <label for="@Model.requiredDistance">requiredDistance</label>
            <input type="number" class="form-control" id="@Model.requiredDistance" placeholder="required distance in km" min="1" max="1000" name="requiredDistance">
        </div>
        <div class="form-group input-append date form_datetime">
            <label for="@Model.start">Start Time</label>
            <input type="datetime-local" class="form-control" id="@Model.start" name="start">
        </div>
        <div class="form-group input-append date form_datetime">
            <label for="@Model.end">End Time</label>
            <input type="datetime-local" class="form-control" id="@Model.end" name="end">
        </div>
        <button type="submit" class="btn btn-primary">Buchen</button>
    </form>
</div>