
@{
    ViewData["Titel"] = "Booking";
    }

<h1>Buchungen</h1>
<p style="display:inline">Übersicht aller Buchugen:</p>
<a asp-action="Create"><button class="btn btn-primary" style="display:inline; float:right">Neue Buchung anlegen</button></a>

@if (Model == null)
{
    <p>Noch keine Buchungen vorhanden!</p>
}
else
{<table class="table table-hover table-striped">
    <tr>
        <th>Charge Status</th>
        <th>Distance</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Connector Type</th>
    </tr>


    @foreach (Booking item in Model)
    {
        <tr>
            <td>
                @item.chargeStatus

            </td>
            <td>
                @item.distance
            </td>
            <td>
                @item.startTime
            </td>
            <td>
                @item.endTime
            </td>
            <td>
                @item.connectorType
            </td>
        </tr>
    }
</table>}