
@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}
@model Sopro.ViewModels.ScenarioCreateViewModel
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
<h1 class="display-4 mb-3 pt-5">Szenario Erstellen</h1>

<form asp-controller="Simulation" asp-action="editRushours" method="post">
    <div class="d-flex">
        <div class="form-group flex-grow-1">
            <label>Start Tag der Simulation</label>
            <input type="date" class="form-control" asp-for="@Model.scenario.start" id="DatePickerId" />
            <small></small>
            @Html.ValidationMessageFor(model => model.scenario.start)
        </div>
        <div class="form-group ml-4">
            <label>Dauer</label>
            <div class="input-group">
                <input class="form-control" asp-for="@Model.scenario.duration" min="1" />
                <div class="input-group-append">
                    <span class="input-group-text"> Tage </span>
                </div>
            </div>
            <small>Anzahl der Simulierten Tage.</small>
            @Html.ValidationMessageFor(model => model.scenario.duration)
        </div>
    </div>

    <div class="form-group">
        <label>Buchungen pro Tag</label>
        <div class="input-group">
            <input class="form-control" asp-for="@Model.scenario.bookingCountPerDay" min="1" />
            <div class="input-group-append">
                <span class="input-group-text"> Buchungen / Tag </span>
            </div>
        </div>
        <small>Gesamt Anzahl der täglich zu verteilenden Buchungen</small>
        @Html.ValidationMessageFor(model => model.scenario.bookingCountPerDay)
    </div>

    <div class="form-group">
        <label>Firmenstandort</label>
        <div>
            <select class="form-control" asp-for="@Model.idLocation">
                @foreach (Sopro.Models.Infrastructure.Location l in Model.locations)
                {
                    <option value="@l.id">@l.name</option>

                }
                <option value="new">Neuen Standort anlegen</option>
            </select>
        </div>
        @Html.ValidationMessageFor(model => model.idLocation)
    </div>
    <div class="form-group">
        <label>Anzahl der Stoßzeiten</label>
        <div class="input-group">
            <input class="form-control" asp-for="@Model.countRushhours" min="0" />
        </div>
        @Html.ValidationMessageFor(model => model.countRushhours)
    </div>

    <h5 class="mt-3">Wählen Sie mindestens ein Fahrzeug für das Szenario.</h5>
    <!-- Vehicles to select -->
    @if (Model.vehicles != null && Model.vehicles.Count != 0)
    {
        <div class="form-group">
            <div class="form-group">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Modell
                            </th>
                            <th>
                                Plug
                            </th>
                            <th>
                                Kapazität
                            </th>
                            <th>
                                SoC-Start
                            </th>
                            <th>
                                S
                                SoC-End
                            </th>
                            <th>
                                Anzahl
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        @{ int i = 0;}
                        @foreach (Sopro.Models.Simulation.Vehicle vehicle in Model.vehicles)
                        {
                            <tr>
                                <td>
                                    @vehicle.model
                                </td>
                                <td>
                                    @{
                                        string x = "";
                                        foreach (var plug in vehicle.plugs)
                                        {
                                            x += plug.ToString() + " ";
                                        }
                                    }
                                    @x

                                </td>
                                <td>
                                    @vehicle.capacity
                                </td>
                                <td>
                                    @vehicle.socStart
                                </td>
                                <td>
                                    @vehicle.socEnd
                                </td>
                                <td>
                                    <input type="number" class="form-control" asp-for="@Model.countVehicles[i]" />
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
            <!-- buttons -->

        </div>
        <div class="float-right">
            <button type="submit" class="btn btn-primary btn-mhp">Weiter</button>
        </div>
    }
    else
    {
        <div>
            Es muss mindestens ein Fahrzeug erstellt worden sein.
        </div>
    }
</form>

