
@{
    ViewData["Title"] = "Auswertung";
    Layout = "_AdminLayout";
}

@using System.Linq;
@using Sopro.Models.History
@model Evaluation
@{
    /*
    var XLabels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.DimensionOne).ToList());
    var YValues = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.Quantity).ToList());
    */
    var XLabels = Newtonsoft.Json.JsonConvert.SerializeObject((new List<string>{ "CCS", "Type 2" }).ToList());
    var YValues = Newtonsoft.Json.JsonConvert.SerializeObject(Model.plugDistributionAccepted.ToList());

    var XLabels2 = Newtonsoft.Json.JsonConvert.SerializeObject((new List<string> { "CCS", "Type 2" }).ToList());
    var YValues2 = Newtonsoft.Json.JsonConvert.SerializeObject(Model.plugDistributionDeclined.ToList());

    var XLabels3 = Newtonsoft.Json.JsonConvert.SerializeObject((new List<string> { "Akzeptiert", "Abgelehnt" }).ToList());
    var YValues3 = Newtonsoft.Json.JsonConvert.SerializeObject(new List<double> { Model.bookingSuccessRate, 1 - Model.bookingSuccessRate });

    ViewData["Title"] = "Pie Chart";
}

<h1 class="display-4 mb-5 pt-5">Auswertung</h1>

<div class="box-body d-flex justify-content-center">

    <div class="chart-container">
        <canvas id="chart" style="width:100%; height:300px"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="chart2" style="width:100%; height:300px"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="chart3" style="width:100%; height:300px"></canvas>
    </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">

        $(function () {
        var chartName = "chart";
        var ctx = document.getElementById(chartName).getContext('2d');
        var data =
        {
            labels: @Html.Raw(XLabels),
            datasets: [{
                label: "Plug distribution [Accepted Plugs]",
                backgroundColor: [
                    'rgba(237, 93, 146, 0.2)',
                    'rgba(254, 191, 45, 0.2)'
                ],
                borderColor: [
                    'rgba(237, 93, 146,1)',
                    'rgba(254, 191, 45, 1)'
                ],
                borderWidth: 1,
                data: @Html.Raw(YValues),
            }]
        };

            var chartName2 = "chart2";
            var ctx2 = document.getElementById(chartName2).getContext('2d');
            var data2 = {
                labels: @Html.Raw(XLabels2),
                datasets: [{
                    label: "Plug distribution [Declined Plugs]",
                    backgroundColor: [
                        'rgba(141, 205, 89, 0.2)',
                        'rgba(89, 181, 228, 0.2)'
                    ],
                    borderColor: [
                        'rgba(141, 205, 89, 1)',
                        'rgba(89, 181, 228, 1)'
                    ],
                    borderWidth: 1,
                    data: @Html.Raw(YValues2),
                }]
            };

            var chartName3 = "chart3";
            var ctx3 = document.getElementById(chartName3).getContext('2d');
            var data3 = {
                labels: @Html.Raw(XLabels3),
                datasets: [{
                    label: "Plug distribution [Declined Plugs]",
                    backgroundColor: [
                        'rgba(141, 205, 89, 0.2)',
                        'rgba(89, 181, 228, 0.2)'
                    ],
                    borderColor: [
                        'rgba(141, 205, 89, 1)',
                        'rgba(89, 181, 228, 1)'
                    ],
                    borderWidth: 1,
                    data: @Html.Raw(YValues3),
                }]
            };

            var options =
            {
                maintainAspectRatio: false,
                legend: {
                    reverse: true
                },
                animation: {
                    duration: 2000,
                },
                title: {
                    display: true,
                    text: ['Steckerverteilung', 'Akzeptierte Buchungen'],
                    fontSize: 20,
                    fontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
                    fontStyle: 'normal',
                    fontColor: '#000'
                }
            };

            var options2 =
            {
                maintainAspectRatio: false,
                legend: {
                    reverse: true
                },
                animation: {
                    duration: 2000,
                },
                title: {
                    display: true,
                    text: ['Steckerverteilung', 'Abgelehnte Buchungen'],
                    fontSize: 20,
                    fontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
                    fontStyle: 'normal',
                    fontColor: '#000'
                }
            };

            var options3 =
            {
                maintainAspectRatio: false,
                legend: {
                    reverse: true
                },
                animation: {
                    duration: 2000,
                },
                title: {
                    display: true,
                    text: "Buchungen",
                    fontSize: 20,
                    fontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
                    fontStyle: 'normal',
                    fontColor: '#000'
                }
            };

            var myChart = new Chart(ctx, {
                options: options,
                data: data,
                type: 'pie'
            });

            var myChart2 = new Chart(ctx2, {
                options: options2,
                data: data2,
                type: 'pie'
            });

            var myChart3 = new Chart(ctx3, {
                options: options3,
                data: data3,
                type: 'pie'
            });
        });
</script>
