
@{
    ViewData["Title"] = "Simulation";
    Layout = "_AdminLayout";
}
@model List<Sopro.Interfaces.ControllerSimulation.IScenario>
<h1 class="display-4 mb-5 pt-5">Simulation</h1>
<h3 class="mb-2">Szenarien</h3>
<div class="flex-column">
    @{ int i = 0; }
    @if (Model != null)
    {
        foreach (Sopro.Models.Simulation.Scenario s in Model)
        {
            string collap = string.Concat("collapse", (i++).ToString());
            <div class="d-flex rounded shadow mt-3 py-2 px-2">
                <h5 class="ml-2 mt-1 mr-5">Szenario i</h5>
                <img src="~/bootstrap-icons/geo-alt.svg" width="23" class="ml-2" />
                <div class="ml-2 mt-1">@s.location.name</div>
                <div class="mr-auto ml-4 mt-1">Stoßzeiten: @s.rushhours.Count</div>
                <a asp-controller="Simulation" asp-action="Evaluation">
                    <img src="~/bootstrap-icons/caret-right-fill.svg" width="23" class="filter-green mr-2 mt-1" />
                </a>
                <a asp-controller="Simulation" asp-action="Edit" asp-route-id="@s.id">
                    <img src="~/bootstrap-icons/pencil-square.svg" width="23" class="mr-2" />
                </a>
                <a asp-controller="Simulation" asp-action="Delete" asp-route-id="@s.id">
                    <img src="~/bootstrap-icons/trash.svg" width="23" class="mr-4" />
                </a>
                <img src="~/bootstrap-icons/caret-down-fill.svg" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="@collap" width="23" class="mr-2 ml-2 filter-blue" />
            </div>
            <div id="#@collap" class="collapse ml-4" aria-labelledby="headingOne">
                <div class="flex-column rounded border p-3">
                    <div class="d-flex mb-2">
                        <div class="mr-5 mt-2 ml-2"> <b>@s.location.name</b></div>
                        <div class="flex-column  mt-2">
                            @foreach (Sopro.Models.Infrastructure.Zone z in s.location.zones)
                            {
                                <div class="d-flex">
                                    <div class="mr-2">Ladezone @z.site</div>
                                    <div class="mr-2">Ladestationen: @z.stations.Count</div>
                                </div>
                            }
                        </div>
                    </div>
                    @{ int j = 0;}
                    @foreach (Sopro.Models.Simulation.Rushhour r in s.rushhours)
                    {
                        j++;
                        <div class="d-flex pl-2">
                            <div class="mr-5"><b>Stoßzeit @j </b></div>
                            <div class="ml-4">@r.start</div>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>
<div class="d-flex mt-4 ">
    <div class="d-flex mt-3">
        <div class="">
            <form asp-controller="Simulation" asp-action="Import" method="post" class="form-horizontal" enctype="multipart/form-data">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" name="importedFile" />
                    </div>
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-primary btn-mhp">Import</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @if (Model.Any())
    {
        <div class="ml-2">
            <form asp-controller="Simulation" asp-action="Export" method="get" class="form-horizontal">
                <input class="btn btn-primary btn-mhp" value="Export" type="submit" />
            </form>
        </div>
    }
    else
    {
        <div>
            <input class="btn btn-secondary ml-2" type="button" name="exportBooking" value="Export" />
        </div>
    }
    <form class="ml-auto" asp-controller="Simulation" asp-action="Create">
        <button class="btn btn-secondary btn-mhp">Hinzufügen</button>
    </form>
</div>

