@{
    ViewData["Title"] = "Buchungsübersicht";
}
@model Sopro.ViewModels.DashboardViewModel

<div class="d-flex">
    <h1 class="pb-5 display-4">Buchungsübersicht</h1>
    <form methode="post" class="ml-auto mt-3">
        <button asp-controller="Booking" asp-action="Create" class="btn btn-primary btn-mhp btn-lg">Neue Buchung</button>
    </form>
</div>


<div class="mb-4">
    @if (Model.scheduledBookings.Count == 0)
    {
        <p>
            Es sind im Moment keine bestätigten Buchungen vorhanden.
        </p>
    }
    else
    {
        <div class="d-inline-flex flex-wrap pb-2">
            @foreach (Sopro.Models.Administration.Booking booking in Model.scheduledBookings)
            {
                <div class="col-sm shadow rounded m-2">
                    <h4 class="text-center p-2 text-white rounded bg-dark mt-3">Buchung</h4>
                    <div class="p-3 text-nowrap">
                        <p><b>Standort</b> @booking.location.name</p>
                        <div>
                            <b>Zone</b> @foreach (Sopro.Models.Infrastructure.Zone z in booking.location.zones)
                            {
                                if (z.stations.Contains(booking.station))
                                {<p>@z.site</p>}
                        }
                        </div>
                        <p><b>Start</b> @booking.startTime</p>
                        <p><b>Ende</b> @booking.endTime</p>
                        <p><b>Ladestand</b> @booking.socStart %</p>
                        <p><b>Benötigte Kilometer</b> @booking.socEnd %</p>
                    </div>
                    <div> <button class="w-100 btn btn-primary btn-mhp mb-3">Check-In</button></div>
                </div>
            }
            <! für max 4 Buchungen danach neues div>
        </div>
    }
</div>
<h2 class="mb-4"> Ausstehende Buchungsanfragen</h2>
@if (Model.unscheduledBookings.Count == 0)
{
    <p>
        Es liegen im Moment keine Buchungsanfragen vor.
    </p>
}
else
{
    <div class="table-responsive rounded">
        <table class="table table-striped table-borderless table-hover">
            <thead class="thead-dark">
                <tr>
                    @*<th>Standort</th>*@
                            <th>Start</th>
                            <th>Ende</th>
                            <th>Start Soc</th>
                            <th>End Soc</th>
                            <th>Plugs</th>
                            <th class="text-center">Bearbeiten</th>
                        </tr>

                    </thead>
                    @foreach (Sopro.Models.Administration.Booking booking in Model.unscheduledBookings)
                    {
        <tr>
            @*<td>@booking.location.name</td>*@
            <td>@booking.startTime</td>
            <td>@booking.endTime</td>
            <td>@booking.socStart %</td>
            <td>@booking.socEnd %</td>
            <td>@booking.plugs</td>
            <td class="text-center">
                <div>
                    <a asp-controller="Booking" asp-action="Edit">
                        <img src="~/bootstrap-icons/pencil-square.svg" width="23" class="filter-blue mr-2" value="@booking" />
                    </a>
                    <a asp-controller="" asp-action="">
                        <img src="~/bootstrap-icons/trash.svg" width="23" class="mr-2" />
                    </a>
                </div>
            </td>
        </tr>
        }
                </table>


                <form methode="post">
                    <button asp-controller="Booking" asp-action="Create" class="btn btn-primary btn-mhp">Neue Buchung</button>
                </form>
            </div>
        }

